{% extends 'base.html' %}
{% block content %}
<h1>게시물 리스트 페이지</h1>
<p>
    <a href="{% url 'userinfo:upload_article' %}">게시물 업로드</a>
</p>
<table>
    <thead>
        <tr>
            <td>제목</td>
            <td>내용</td>
            <td>이미지</td>
        </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            {% if article.image %}
            <img src="{{article.image.url}}" alt="{{article.title}}" style="width: 200px;">
            {% else %}
            <span>No image</span>
            <td>{{article.title}}</td>
            <td>{{article.article}}</td>
            <td>{{article.image}}</td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock%}