
{% extends 'base.html' %}
{% block head %}
<a href="{% url 'userinfo:logout' %}">로그아웃</a><br><br>
<a href="{% url 'social:user_list' %}">뒤로 가기</a>
{% endblock head%}
{% block content %}
<h1>{{user.profile.name}}의 My Page</h1>
{{ request.user}} - {{user.relationship.followers.all}}
<h1>{{user_detail.name}}</h1>

<form action="{% url 'social:relationship' user.pk %}" method="POST">
    {% csrf_token %}
    {% if request.user in user.relationship.followers.all %}
    <button type="submit">팔로우 취소</button>
    {% else %}
    <button type="submit">팔로우</button>
</form><br><br>

{% endif %}
{% if request.user == user %}
<a href="{% url 'social:edit' user.pk %}">프로필 편집</a>
{% endif %}
<h3>소개글 : {{user.profile.introduce}}</h3>
<h3>메일 주소 : {{user.profile.address}}</h3>

<p>게시물 ??   팔로워 ??    팔로우  ??</p>

<a href="{% url 'social:upload_post' %}">게시물 업로드</a>


<ul><h2>게시물 리스트</h2></ul>

{%for article in user.article.all%}
<li>{%if article.image %}
    <a href="{% url 'social:post_detail' article.pk %}">
        <img  src="{{article.image.url}}" alt="{{article.title}}" width="250px;">
    <a>
</li>
    {% endif %}
{% endfor %}
{% endblock content%}